/*
	voter-info.css by Michael Geary
	See LICENSE for copyright and license
*/

body, button, input, option, select, textarea {
	font-family: Arial,sans-serif;
	font-size: 17px;
}

pre {
	margin: 0;
}

#selectform, #inputform {
	margin-bottom: 10px;
}

.staticmap {
	float: right;
}

.address {
	font-weight: bold;
}

.voterinfo {
	border-top: 1px solid #AAA;
	padding-top: 8px;
}
